/*elements principaux*/
/*police*/
@font-face {
  font-family: "kalam-regular";
  src: url("../font/kalam-regular-webfont.woff");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../font/Montserrat-Regular-webfont.woff");
}

/*titres*/
h1 {
  font-size: 1.9em;
  padding-top: 60px;
  font-family: "kalamregular";
  background: linear-gradient(to right, #e53935 20%, #5e35b1 90%);
  color: transparent;
  -webkit-background-clip: text;
}
h2 {
  font-size: 1.3em;
  padding-top: 60px;
  padding-bottom: 50px;
  font-family: "kalamregular";
  background: linear-gradient(to right, #e53935 20%, #5e35b1 90%);
  color: transparent;
  -webkit-background-clip: text;
}

h3 {
  font-size: 1.2em;
  font-family: "kalamregular";
}

a {
  color: #bf502f;
}

.mt-4 {
  margin-top: 1.5rem !important;
}
